body{
    background-color: rgba(0, 0, 0, 0.814);
}

.title{
    color: rgb(247, 175, 226);
}

h1{
    color: white;

}
h2{
    color:white
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}

p{
    color: white;
}
a{
    color: aqua;
}
hr{
    height: 3px;
}
